* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    padding: 24px 24px;
    justify-content: space-between;
    border-bottom: 3px solid #000080;
    background-color: #87cefa;
    color: #000080;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.menu h1 {
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 8px;
    cursor: pointer;
}

.menu p {
    font-weight: 100;
}

.menu2 {
    display: flex;
    flex-direction: row;
}

.menu2 span {
    margin: 10px 0px;
    padding: 8px 8px;
    cursor: pointer;
}

.menu2 span:hover {
    border-radius: 60%;
    background: #e0ffff;
}

.menu .property {
    display: flex;
    flex-direction: row;
    padding: 16px 16px;
}

.menu2 .property > li {
    margin: 0px 8px;
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    font-size: 17px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

.menu2 .property > li:hover {
    background-color: #e0ffff;
    border-radius: 3px;
}

.home_animation {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: azure;
    color: rgb(16, 96, 132);
}

.home_animation .slide1 {
    text-align: center;
    padding: 12px 16px;
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

/* @keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  } */

.content {
    padding: 50px 150px 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 4fr 75px;
    grid-template-areas: "header header"
    "sidebar main"
    "footer footer";
}

.heading {
    grid-area: header;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 24px 30px;
}

.sidebar {
    background-color: rgb(180, 195, 241);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 40px;
    height: fit-content;
}

.sidebar nav {
    background-color: rgb(204, 214, 246);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    padding: 8px 8px;
    border-top: 1px solid white;
}

.sidebar p {
    padding: 0px 4px 8px;
    font-weight: 500;
    text-transform: uppercase;
} 

.sidebar h5 {
    background-color: rgb(180, 195, 241);
    padding: 10px 0px 8px 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    border-left: 3px solid rgb(85, 17, 85);
}

.sidebar ul {
    display: none;
    line-height: 1.5;
    background-color: rgb(204, 214, 246);
    padding-left: 16px;
} 

.sidebar div {
    line-height: 1.5;
    font-size: 14px;
    margin: 0px 12px 0px;
    padding: 0px 4px;
} 

.sidebar div:hover {
    cursor: pointer;
} 

.sidebar div:hover ul {
    cursor: pointer;
    display: flex;
    flex-direction: column;
} 

/* .sidebar b {
    cursor: pointer;
    line-height: 1;
    text-transform: uppercase;
}

.sidebar h5 {
    background-color: rgb(180, 195, 241);
    padding: 10px 0px 8px 10px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    border-left: 3px solid rgb(85, 17, 85);
}

.sidebar ul {
    display: none;
    list-style-type: none;
    line-height: 1.5;
} 

.sidebar li:hover {
    color: white;
    cursor: pointer;
} */

/* .sidebar1:hover .list1 {
    display: flex;
    flex-direction: column;
}

.sidebar2:hover .list2 {
    display: flex;
    flex-direction: column;
}

.sidebar3:hover .list3 {
    display: flex;
    flex-direction: column;
}  */

.main {
    grid-area: main;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.main i {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000080;
}

footer {
    background-color: #87cefa;
    color: #000080;
    color: #000080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 30px 30px;
    grid-area: footer;
}
